
@media (max-width: 980px) {

    .banner {
        max-width: 767px;
    }

}

@media (max-width: 767px) {
    .banner {
        max-width: 100%;
    }
}





@media (max-width: 980px) {

    .banner .info-right h2 {
        font-size: 30px;
    }

    .banner .info-right h3{
        margin-top: 15px;
        font-size: 15px;
    }

    .banner .info-right h4 {
        font-size: 15px ;
        margin-top: 15px;
    }

    .banner .info-left img {
        width: 75% ;
    }

    .banner .info-right button {
        margin-top: 35px;
        width: 160px;
        height: 33px;
        font-size: 16px;
    }

    .banner .info-right button img{
        width: 22px;
    }

}



@media (max-width: 767px) {


    
    .banner{
        justify-content: center;
        align-items: center;
       
        
    }
    .banner .info-right{
        max-width: 500px;
        margin: 0 auto;
    }

    .banner-content-wrapper{
        display: block;
    }

    .banner .info-right h2 {
        font-size: 22px;
    }

    .banner .info-right h3{
        margin-top: 12px;
        font-size: 14px;
    }

    .banner .info-right h4 {
        font-size: 14px ;
        margin-top: 10px;
    }

    .banner .info-left img {
        display: none;
    }

    .banner .info-right button {
        margin-top: 32px;
        width: 135px;
        height: 35px;
        font-size: 13px;
    }

    .banner .info-right button img{
        width: 16px;
    }

}



@media (max-width: 500px) {

    .banner{
        justify-content: center;
        align-items: center;
       
        
    }
    .banner .info-right{
        max-width: 400px;
        margin: 0 auto;
    }


    .banner-content-wrapper{
        display: block;
    }

    .banner .info-right h2 {
        font-size: 13px;
    }

    .banner .info-right h3{
        margin-top: 10px;
        font-size: 9px;
    }

    .banner .info-right h4 {
        font-size: 9px ;
        margin-top: 7px;
    }

    .banner .info-left img {
        display: none;
    }

    .banner .info-right button {
        margin-top: 22px;
        width: 85px;
        height: 25px;
        font-size: 8px;
    }

    .banner .info-right button img{
        width: 10px;
    }

}




